#blog {
    user-select: none;
    animation: fadeInUp 0.8s ease forwards;
    padding: 0 calc((100% / 3) / 2);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1.5rem;
  justify-items: center; 
}

.blog-post {
    background-color: var(--card-bg);
    border-left: 4px solid var(--bar-fill);
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeInUp 0.8s ease forwards;
    justify-self: center;
}

.blog-post h3 {
    margin-top: 0;
    color: var(--heading-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.blog-post p {
    flex-grow: 1;
    color: var(--text-secondary);
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #blog {
        padding: 0 40px;
        gap: 20px;
    }

}