#blog {
    user-select: none;
    animation: fadeInUp 0.8s ease forwards;
    padding: 0 calc((100% / 3) / 2);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

.blog-post {
    background-color: var(--card-bg);
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    animation: fadeInUp 0.8s ease forwards;
}

.blog-post h3 {
    margin-top: 0;
    color: var(--heading-color);
    margin-bottom: 0.5rem;
}

.blog-post p {
    flex-grow: 1;
    color: var(--text-secondary);
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .blog-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 350px) {
    .blog-post {
        padding: 1rem;
    }
}

